<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <header>
  <a href="https://en.wikipedia.org/wiki/Moose" class="header-link">Moose Facts</a>
    <a href="https://www.poets.org/poetsorg/poem/moose" class="header-link">Moose Art</a>
    <a href="http://www.theranchatrockcreek.com/accommodation/moose-house/" class="header-link">Moose Luxury</a>
    <a href="https://en.wikipedia.org/wiki/House_mouse" class="header-link">Moose Rhymes</a>
  </header>
  <div class="main-content">
    <h1>MakersBNB Listings:</h1>
    <a id="post-listing" href="/listings/new">Post your own listing here</a>

    {{#each listings}}
      <p>
      <b>{{this.title}}:</b></br>
      {{this.details}}</br>
      Location: {{this.location}}<br>
      {{#if this.booking_date }}
        This property is booked for {{this.booking_date}}.
      {{else}}
        Enter a date, format: yyyy-mm-dd
        <form method="post" action="/listings/book/{{this.id}}">
          <input name ="booking_date" type="text" required pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))">
          <input type="submit" value="Book Now">
        </form>
      {{/if}}
        <div>
          <form action='listings/delete' method='post'>
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" value="Delete listing">
          </form      
        </div>
      </p>
    {{/each}}
  </div>
</body>
