<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>
<body>
  <header>
    <a href="#" class="header-link">A link</a>
    <a href="#" class="header-link">Another link</a>
    <a href="#" class="header-link">A third link</a>
    <a href="#" class="header-link">A for-good-measure link</a>
  </header>
  <div class="main-content">
    <h1>MakersBNB Listings:</h1>
    <a id="post-listing" href="/listings/new">Post your own listing here</a>

    {{#each listings}}
      <p>
	<b>{{this.title}}:</b></br>
	{{this.details}}</br>
	Location: {{this.location}}<br>
	{{#if this.booking_date }}
	  This property is booked for {{this.booking_date}}.
	{{else}}
          Enter a date, format: yyyy-mm-dd
          <form method="post" action="/listings/book/{{this.id}}">
	    <input name ="booking_date" type="text" required pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))">
	    <input type="submit" value="Book Now">
	  </form>
	{{/if}}
      </p>
    {{/each}}

  </div>
</body>
